<div class="container recommend">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <h1>Informations générales - <span class="text-nowrap fw-normal text-capitalize">étape 3/3</span></h1>
            {{ form_start(form) }}
            <div class="row criteres-importants justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center align-items-lg-start justify-content-lg-start">
                    <img class="profile-picture" src="{{ asset('img/placeholder-profile.jpg') }}" alt="Logo doctavis" />
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-sm-12 title-input mx-0">
                            <h2 class="fs-4 m-0 h-auto py-3">{{ form_label(form.temperaments) }}</h2>
                            {{ form_widget(form.temperaments) }}
                            {{ form_errors(form.temperaments) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 title-input mx-0">
                            <h2 class="fs-4 m-0 h-auto py-3">{{ form_label(form.additionalCriterions) }}</h2>
                            {{ form_widget(form.additionalCriterions) }}
                            {{ form_errors(form.additionalCriterions) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 title-input mx-0">
                    <h2 class="fs-4 m-0 h-auto py-3">{{ form_label(form.languages) }}</h2>
                    {{ form_widget(form.languages, { 'attr' : { 'class': 'js-example-basic-multiple form-select mt-1 mb-2' }}) }}
                    {{ form_errors(form.languages) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="title-input">
                        <h2>{{ form_label(form.thirdPartyPayment) }}</h2>
                        {{ form_widget(form.thirdPartyPayment, { 'attr' : { 'class': 'form-select mt-1 mb-2' }}) }}
                        {{ form_errors(form.thirdPartyPayment) }}
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="title-input">
                        <h2>{{ form_label(form.paymentMethods) }}</h2>
                        {{ form_widget(form.paymentMethods) }}
                        {{ form_errors(form.paymentMethods) }}
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="title-input">
                        <h2>{{ form_label(form.sector) }}</h2>
                        {{ form_widget(form.sector, { 'attr' : { 'class': 'form-select mt-1 mb-2' }}) }}
                        {{ form_errors(form.sector) }}
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="title-input">
                        <h2>{{ form_label(form.isCMUAccepted) }}</h2>
                        {{ form_widget(form.isCMUAccepted, { 'attr' : { 'class': 'form-select mt-1 mb-2' }}) }}
                        {{ form_errors(form.isCMUAccepted) }}
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="title-input">
                        <h2>{{ form_label(form.waitingTime) }}</h2>
                        {{ form_widget(form.waitingTime, { 'attr' : { 'class': 'form-select mt-1 mb-2' }}) }}
                        {{ form_errors(form.waitingTime) }}
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="title-input">
                        <h2>{{ form_label(form.consultationTypes) }}</h2>
                        {{ form_widget(form.consultationTypes, { 'attr' : { 'class': 'js-example-basic-multiple form-select mt-1 mb-2' }}) }}
                        {{ form_errors(form.consultationTypes) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    {{ form_label(form.submit) }}
                    {{ form_widget(form.submit) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}