{% block body %}
    <div class="container">
        <h1 class="fs-4 my-4">Informations générales</h1>
        <div class="row justify-content-center">
            <div class="col-sm-8">
                {{ form_start(form) }}
                <div class="row">
                    {% if form.parking is defined %}
                        <div class="col-sm-6 col-lg-4">
                            <div class="title-input">
                                <h2>{{ form_label(form.parking, "Parking") }}</h2>
                                {{ form_widget(form.parking, { 'attr' : { 'class' : 'js-example-basic-multiple form-select'}}) }}
                                {{ form_errors(form.parking) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.acces_handicape is defined %}
                        <div class="col-sm-6 col-lg-4">
                            <div class="title-input">
                                <h2>{{ form_label(form.acces_handicape, "Accès handicap") }}</h2>
                                {{ form_widget(form.acces_handicape, { 'attr' : { 'class' : 'js-example-basic-multiple form-select'}}) }}
                                {{ form_errors(form.acces_handicape) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.commodite is defined %}
                        <div class="col-sm-6 col-lg-4">
                            <div class="title-input">
                                <h2>{{ form_label(form.commodite, "Commodités") }}</h2>
                                {{ form_widget(form.commodite, { 'attr' : { 'class' : 'js-example-basic-multiple form-select'}}) }}
                                {{ form_errors(form.commodite) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.accessible_en_transport_en_commun is defined %}
                        <div class="col-sm-6 col-lg-4">
                            <div class="title-input">
                                <h2>{{ form_label(form.accessible_en_transport_en_commun, "Accès en transports en commun") }}</h2>
                                {{ form_widget(form.accessible_en_transport_en_commun, { 'attr' : { 'class' : 'js-example-basic-single form-select'}}) }}
                                {{ form_errors(form.accessible_en_transport_en_commun) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.ascenseur is defined %}
                        <div class="col-sm-6 col-lg-4">
                            <div class="title-input">
                                <h2>{{ form_label(form.ascenseur, "Ascenseur") }}</h2>
                                {{ form_widget(form.ascenseur, { 'attr' : { 'class' : 'js-example-basic-single form-select'}}) }}
                                {{ form_errors(form.ascenseur) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-sm-6 col-lg-4">
                        <div class="title-input">
                            <h2>{{ form_label(form.equipments, "Equipement et installations") }}</h2>
                            {{ form_widget(form.equipments) }}
                            {{ form_errors(form.equipments) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    {{ form_label(form.submit) }}
                    {{ form_widget(form.submit, { 'attr' : { 'class': 'btn btn-primary' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}