<div class="container recommend">
    <div class="row">
        <div class="col">
            <h1>Informations professionnelles - <span>Etape 2/{% if new == true %}2{% else %}3{% endif %}</span></h1>
            {{ form_start(form) }}
            <div class="row button-select mb-3">
                <div class="col-xxl-2 mb-2 mb-xxl-auto">
                    <h3 class="fs-4 fw-bold">Je suis un </h3>
                </div>
                <div class="col-md-4 col-xxl-2">
                    {{ form_widget(attribute(form.mainSpecialities,0)) }}
                    {{ form_label(attribute(form.mainSpecialities,0)) }}
                </div>
                <div class="col-md-4 col-xxl-2">
                    {{ form_widget(attribute(form.mainSpecialities,1)) }}
                    {{ form_label(attribute(form.mainSpecialities,1)) }}
                </div>
                <div class="col-md-4 col-xxl-2">
                    {{ form_widget(attribute(form.mainSpecialities,2)) }}
                    {{ form_label(attribute(form.mainSpecialities,2)) }}
                </div>
            </div>
            <div class="row mb-3  px-3 py-2">
                <div class="col-xxl-2 mb-2 mb-xxl-auto"></div>
                <div class="col">
                    {{ form_widget(form.specialities) }}
                    <div class="right"><a href="{{ path('contact_speciality_pathology') }}">Je ne trouve pas ma spécialité</a></div>
                </div>
            </div>
            <div class="row mb-3 px-3 py-2">
                <div class="col-xxl-4 mb-2 mb-xxl-auto">
                    <h3 class="fs-4 fw-bold">Je traite les pathologies suivantes</h3>
                </div>
                <div class="col">
                    {{ form_widget(form.pathologies) }}
                    <div class="right"><a href="{{ path('contact_speciality_pathology') }}">Je ne trouve pas ma pathologie</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    {{ form_label(form.submit) }}
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
            <div class="col-4 col-sm-3 col-md-2">
                <div class="row h-100 align-items-center">
                    <div class="col">
                        <img src="{{ asset('img/perso-diplome.PNG') }}"
                             alt="Un personnage dessiné tient un papier enroulé"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>